﻿@model IndexaWeb.Intranet.Models.ProjectHeaders

@{
    ViewBag.Title = "Detalles del proyecto";
}

<h2>Detalles del proyecto</h2>

<div>
    <hr />

        <b>@Html.DisplayNameFor(model => model.CustomerId):</b>
        @Html.DisplayFor(model => model.Customer.Name)<br/>

        <b>@Html.DisplayNameFor(model => model.Name):</b>
        @Html.DisplayFor(model => model.Name)<br/>

        <b>@Html.DisplayNameFor(model => model.CreatedBy):</b>
         @Html.DisplayFor(model => model.CreatedBy)<br/>

        <b>@Html.DisplayNameFor(model => model.CreatedDate):</b>
        @Html.DisplayFor(model => model.CreatedDate)<br/>

        <b>@Html.DisplayNameFor(model => model.ModifiedBy):</b>
        @Html.DisplayFor(model => model.ModifiedBy)<br/>

        <b>@Html.DisplayNameFor(model => model.ModifiedDate):</b>
        @Html.DisplayFor(model => model.ModifiedDate)<br/><br/>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProjectHeaderId }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
