﻿@model IEnumerable<IndexaWeb.Intranet.Models.ProjectHeaders>

@{
    ViewBag.Title = "Proyectos de Indexa";
}

<h2>Proyectos de Indexa</h2>

<p>
    @Html.ActionLink("Crear nuevo proyecto", "Create")
</p>

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Ingrese datos del proyecto a buscar...">
</div>

<table class="table buscar">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectHeaderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            <label><strong>Tareas Completadas</strong></label>
        </th>
        <th>
            <label><strong>Total de Tareas</strong></label>
        </th>
        <th>
            <label><strong>Horas Totales</strong></label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        switch (item.Maximo)
        {
                case 1:
                    <tr class="elements">
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectHeaderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @item.Tareas_Completadas
                        </td>
                        <td>
                            @item.Total_Tareas
                        </td>
                        <td>
                            @item.Total_Horas
                        </td>
                        <td>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Edit/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span class="sr-only">Editar</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Details/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">Detalles</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/ProjectTasks/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/SpendingHistories/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-usd"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                        </td>
                    </tr>
                break;
                case 2:
                    <tr class="elements" style="background:#2E8B57;">
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectHeaderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @item.Tareas_Completadas
                        </td>
                        <td>
                            @item.Total_Tareas
                        </td>
                        <td>
                            @item.Total_Horas
                        </td>
                        <td>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Edit/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span class="sr-only">Editar</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Details/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">Detalles</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/ProjectTasks/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/SpendingHistories/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-usd"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                        </td>
                    </tr>
                break;
                case 3:
                    <tr class="elements" style="background:#20B2AA;">
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectHeaderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @item.Tareas_Completadas
                        </td>
                        <td>
                            @item.Total_Tareas
                        </td>
                        <td>
                            @item.Total_Horas
                        </td>
                        <td>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Edit/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span class="sr-only">Editar</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Details/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">Detalles</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/ProjectTasks/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/SpendingHistories/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-usd"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                        </td>
                    </tr>
                break;
                case 4:
                    <tr class="elements"  style="background:#FF6347;">
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectHeaderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @item.Tareas_Completadas
                        </td>
                        <td>
                            @item.Total_Tareas
                        </td>
                        <td>
                            @item.Total_Horas
                        </td>
                        <td>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Edit/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span class="sr-only">Editar</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Details/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">Detalles</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/ProjectTasks/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/SpendingHistories/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-usd"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                        </td>
                    </tr>
                break;
                default:
                    <tr class="elements">
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectHeaderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @item.Tareas_Completadas
                        </td>
                        <td>
                            @item.Total_Tareas
                        </td>
                        <td>
                            @item.Total_Horas
                        </td>
                        <td>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Edit/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span class="sr-only">Editar</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/Details/@item.ProjectHeaderId">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">Detalles</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/ProjectTasks/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                            <a href="/IndexaWeb.Intranet/ProjectHeaders/SpendingHistories/Index/@item.ProjectHeaderId?name=@item.Name">
                                <i class="glyphicon glyphicon-usd"></i>
                                <span class="sr-only">Tareas</span>
                            </a>
                        </td>
                    </tr>
                break;
        }
    }

    </table>

<script type="text/javascript">
        $(document).ready(function () {
        (function ($) {
                $('#filtrar').keyup(function () {
                var rex = new RegExp($(this).val(), 'i');
                    $('.buscar .elements').hide();
                    $('.buscar .elements').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
            }(jQuery));
    });
</script>
