﻿@{
    ViewBag.Title = "IndexaWeb";
}

<div class="jumbotron">
    <h1>Bienvenido a IndexaWeb</h1>
    <p class="lead">La intranet de Indexa IT Solutions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>