﻿@model IndexaWeb.Intranet.Models.StatusTask

@{
    ViewBag.Title = "Update";
}

<h2>Cambiar Estatus</h2>

@if (ViewBag.statusNameSig != null)
{
    <h3>Estas seguro de cambiar el estatus de esta tarea?</h3>
}
else
{
    <h3>La Tarea ya se encuentra en el estado de finalizacion!</h3>
}

<div>
    <hr />
    @if (ViewBag.statusNameSig != null)
    {
        <dl class="dl-horizontal">
            <dt>
                <b>Estatus actual:  </b>
            </dt>
            <dd>
                @ViewBag.statusNameAct
            </dd>
            <dt>
                <b>Siguiente estatus:  </b>
            </dt>
            <dd>
                @ViewBag.statusNameSig
            </dd>
        </dl>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Cambiar" class="btn btn-primary" /> |
                @Html.ActionLink("Regresar a la lista", "ProjectTasks/Index", new { id = ViewBag.idt, name = ViewBag.name })
            </div>
        }
    }
    else
    {
        <div class="form-actions no-color">
            @Html.ActionLink("Regresar a la lista", "ProjectTasks/Index", new { id = ViewBag.idt, name = ViewBag.name })
        </div>
    }
</div>

