﻿@model IndexaWeb.Intranet.Representative

@{
    ViewBag.Title = "Representante de Cliente";
}

<h2>Registrar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerId, htmlAttributes: new { @id = "m_customerId" })
    
    <div class="form-horizontal">
        <h4>Representante de Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Customer.Name, htmlAttributes: new { @id = "m_customers", @class = "form-control ui-widget" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver Al Listado","Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#m_customers").autocomplete({
                minLength:0,
                source: function (request, response) {
                    $.ajax({
                        type: "GET",
                        url: "../Customers/GetCustomersByName?name="+ request.term,
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.value
                                };

                            }))
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#m_customerId").val(ui.item.value);
                    $("#m_customers").val(ui.item.label);
                }

            });
        });
    </script>
}
