﻿@model IEnumerable<IndexaWeb.Intranet.Representative>

@{
    ViewBag.Title = "Representantes de Cliente";
}

<h2>Listado de Representantes de Clientes</h2>

@if (User.IsInRole("Administrador"))
{
    @Html.ActionLink("Registrar nuevo","Register", "Account",new { isRepresentative = true }, null)
}

@if (ViewBag.name != "")
{
    <h4>Cliente: @ViewBag.name</h4>
}

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Buscar...">
</div>
<table class="table buscar">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepresentativeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="elements">
        <td>
            @Html.DisplayFor(modelItem => item.RepresentativeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Edit", new { id = item.RepresentativeId })" title="Editar">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Editar</span>
                </a>
            } |
            <a href="@Url.Action("Details", new { id = item.RepresentativeId })" title="Detalles">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span class="sr-only">Detalles</span>
            </a>|
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Delete", new { id = item.RepresentativeId })" title="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Eliminar</span>
                </a>
            }
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
            (function ($) {
                    $('#filtrar').keypress(function () {
                    var rex = new RegExp($(this).val(), 'i');
                        $('.buscar .elements').hide();
                        $('.buscar .elements').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
                }(jQuery));
            });
    </script>
}
