﻿@model IndexaWeb.Intranet.Models.RegisterViewModel

@{
    ViewBag.Title = "IndexaWeb - Editar Usuario";
}

<h2>Editar Usuario</h2>


@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

<div class="form-group">
    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Tipo de Usuario", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @foreach (var item in Model.RolesList)
        {
            foreach (var selectedRole in Model.SelectedRoles)
            {
                if (item.Value == selectedRole)
                {
                    item.Selected = true;
                    break;
                }
            }
            <label>
                <input id="@item.Value" value="@item.Value" name="SelectedRoles" type='checkbox' checked="@item.Selected" onchange="" class="checkbox-inline" />
                <span class='lbl padding-4'>@item.Text </span>
            </label>
        }
    </div>
</div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
