﻿@model IEnumerable<IndexaWeb.Intranet.Models.UserViewModel>

@{
    ViewBag.Title = "IndexaWeb - Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            @if (User.IsInRole("Administrador") && item.Active == true)
            {
                <td>
                    <a href="@Url.Action("Edit", new { userName = item.UserName })" title="Editar">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Editar</span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("ResetPassword", new { userName = item.UserName })" title="Resetear Contraseña">
                        <i class="glyphicon glyphicon-repeat"></i>
                        <span class="sr-only">Desactivar</span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { userName = item.UserName })" title="Desactivar">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span class="sr-only">Desactivar</span>
                    </a>
                </td>
            }
            @if (User.IsInRole("Administrador") && item.Active == false)
            {
                <td>
                    <a href="@Url.Action("Activate", new { userName = item.UserName })" title="Activar">
                        <i class="glyphicon glyphicon-check"></i>
                        <span class="sr-only">Activar</span>
                    </a>
                </td>
            }
        </tr>
    }

</table>
