﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Contraseña modificada</h1>
</hgroup>
<div>
    <p>
       @Html.ActionLink("Volver", "Index", "Account")
    </p>
</div>
