﻿@model IndexaWeb.Intranet.Reclaim

<div class="">
    <div class="modal-title" style="color: #FF8000">
        <h3>Agregar Reclamo</h3>
    </div>
    <br />
    @using (Html.BeginForm("AddReclaim", "VisitHeaders", FormMethod.Post, new { id = "addReclaimForm" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VisitHeaderId)
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="btn-submit" class="btn btn-default">Agregar</button>
                    </div>
                </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $("#btn-submit").click(function () {
            $("#modal-container").modal("hide");
        })
    });
</script>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
