﻿@model IndexaWeb.Intranet.VisitDetail

<div class="">
    <div class="modal-title" style="color: #FF8000">
        <h3>Agregar Actividad</h3>
    </div>
    <br />
    @using (Html.BeginForm("AddVisitDetail", "VisitHeaders", FormMethod.Post, new { id = "visitDetailForm" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <p>
            @Html.ActionLink("Registrar nueva Actividad", "Create", "Activities")
        </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.VisitHeaderId)
                <div class="form-group">
                    @Html.LabelFor(model => model.ActivityId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ActivityId, (SelectList)ViewBag.Activities, "[Seleccione una Actividad]", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActivityId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TicketNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TicketNumber, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @Html.ValidationMessageFor(model => model.TicketNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VisitNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VisitNotes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VisitNotes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" id="btn-submit" class="btn btn-default">Agregar</button>
                    </div>
                </div>
    }
</div>


<script type="text/javascript">
    $(function () {
        $("#btn-submit").click(function () {
            $("#modal-container").modal("hide");
        })
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
