﻿@model IndexaWeb.Intranet.ReclaimComment

<div class="">
    <div class="modal-title" style="color: #FF8000">
        <h3>Agregar Comentario</h3>
    </div>
    <br />
    @using (Html.BeginForm("AddReclaimComment", "VisitHeaders", FormMethod.Post, new { id = "addReclaimCommentForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReclaimId)
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btn-comment-submit" type="submit" value="Agregar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    //$(function () {
    //    $("#btn-comment-submit").click(function () {
    //        $("#modal-container").modal("hide");
    //    })
    //});
</script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
