﻿@model IEnumerable<IndexaWeb.Intranet.VisitDetail>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
        @if (item.VisitHeader.StatusVisitId == 1 && !User.IsInRole("Cliente"))
        {
            @Html.ActionLink("Eliminar", "Delete", new { id = item.VisitDetailId })
        }
        </td>
    </tr>
}

</table>
