﻿@model IndexaWeb.Intranet.VisitHeader

@{
    ViewBag.Title = "Visitas - Registro";
}

<h2>Registro de Visita</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerId, htmlAttributes: new { @id = "m_customerId" })
    <div class="form-horizontal">
        <h4>Visita</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group date">
                @Html.TextBoxFor(model => model.Customer.Name, htmlAttributes: new { @id = "m_customers", @class = "form-control ui-widget" })
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
             @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group date">
                            @Html.DropDownListFor(model => model.LocationId,
                           new SelectList(Enumerable.Empty<SelectListItem>(),"LocationId","Description"),"[Seleccione una Opción]", htmlAttributes: new { @class = "form-control" })
                        </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.VisitDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datepicker">
                        @Html.EditorFor(model => model.VisitDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.VisitDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="m_arrivalTime">
                        @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-time glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepatureTime, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="m_departureTime">
                        @Html.EditorFor(model => model.DepatureTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-time glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.DepatureTime, "", new { @class = "text-danger" })
            </div>
        </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registrar Visita" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Volver al Listado", "Index")
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#m_customers").autocomplete({
                            minLength: 0,
                            source: function (request, response) {
                                $.ajax({
                                    type: "GET",
                                    url: "../Customers/GetCustomersByName?name=" + request.term,
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return {
                                                label: item.label,
                                                value: item.value
                                            };

                                        }))
                                    },
                                    error: function (error) {
                                        alert(error);
                                    }
                                });
                            },
                            select: function (event, ui) {
                                event.preventDefault();
                                $("#m_customerId").val(ui.item.value);
                                $("#m_customers").val(ui.item.label);
                                GetLocations();
                            }

                        });
                    });
                    $("#m_customerId").change(GetLocations);


                    function GetLocations() {
                        
                        var customerId = $("#m_customerId").val();
                        if (customerId != "") {
                            $.ajax({
                                type: "GET",
                                url: "GetLocationsByCustomerId/" + customerId,
                                datatype: 'json',
                                success: function (data) {
                                    $("#LocationId").html("");
                                    var markup = "<option value='null'>[Seleccione una Opción]</option>";
                                    for (var x = 0; x < data.length; x++) {
                                        markup += "<option value=" + data[x].LocationId + ">" + data[x].Description + "</option>";
                                    }
                                    $("#LocationId").html(markup);
                                },
                                error: function () { console.log("Errrr"); }
                            });
                        }
                    }

                $('#datepicker').datetimepicker({
                    format: "YYYY-MM-DD",
                });
                $('#m_arrivalTime,#m_departureTime').datetimepicker({
                    format: 'HH:mm'
                });
                //$('').datetimepicker({
                //    format: 'HH:mm',
                //    pickDate: false,
                //    pickSeconds: false,
                //    pick12HourFormat: false
                //});

                </script>
            }
