﻿@model IndexaWeb.Intranet.VisitHeader

@{
    ViewBag.Title = "Detalles Visita";
}

<h2>Detalles</h2>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Description)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepatureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepatureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusVisit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusVisit.Name, new { id = "statusVisitName" } )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
    @if (Model.StatusVisitId == 1 && (User.IsInRole("Soporte") || User.IsInRole("Administrador")))
    {
        <div class="form-group">
            @Html.ActionLink("Editar", "Edit", new { id = Model.VisitHeaderId })
        </div>
    }

    @if (ViewBag.isAdminOrCustomer == true && Model.StatusVisitId != 3)
    {
        <div class="form-group">
            @Html.ActionLink("Aprobar Visita", "ConfirmVisit", new { id = Model.VisitHeaderId }, new { @class = "btn btn-default" })
        </div>
    }

    <div class="form-group">
        <h4>Actividades Realizadas</h4>
        @Html.Partial("_IndexVisitDetails", Model.VisitDetail)
    </div>
    @if (!ViewBag.ReclaimExists && Model.StatusVisitId == 4 && ViewBag.isAdminOrCustomer == true)
    {
        <div class="form-group">
            @Html.ActionLink("Agregar Reclamo", "AddReclaim", "VisitHeaders", new { id = ViewBag.VisitHeaderId }, new { id = "addReclaimLink", @class = "btn btn-default modal-link", title = "Agregar Reclamo", data_toggle = "modal", data_target = "#modal-container" })
        </div>
    }
    <!-- addReclaimModal -->
    <div id="modal-container" class="modal fade" tabindex="-1" style="border:5px solid #FF8000" role="dialog">
            <a href="#close" title="Cerrar" class="close modal-close-btn" type="button">X</a>
            <div class="modal-content" style="width:700px !important; height:400px !important; margin:10px auto !important">
                <div class="modal-body">                 
                </div>
            </div>
    </div>
    @if (ViewBag.ReclaimExists)
    {
        <div class="form-group">
            <h4>Reclamo</h4>
            @Html.Partial("_IndexReclaim", Model.Reclaims)
        </div>
        <div class="form-group">
            @Html.ActionLink("Agregar Comentario", "AddReclaimComment", "VisitHeaders", new { id = ViewBag.VisitHeaderId }, new { id = "addCommentLink", @class = "btn btn-default modal-link", title = "Agregar Comentario", data_toggle = "modal", data_target = "#modal-comment" })
        </div>
        <div class="form-group">
            <h4>Comentarios</h4>
            @Html.Partial("_IndexReclaimComments", Model.Reclaims.FirstOrDefault().ReclaimComment)
        </div>
    }


    <!-- addReclaimCommentModal -->
    <div id="modal-comment" class="modal fade" tabindex="-1" style="border:5px solid #FF8000" role="dialog">
        <a href="#close" title="Cerrar" class="close modal-close-btn" type="button">X</a>
        <div class="modal-content" style="width:700px !important; height:400px !important; margin:10px auto !important">
            <div class="modal-body">
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Volver al Listado", "Index")
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var status = '@ViewBag.StatusVisit';
        var reclaim = '@ViewBag.ReclaimExists';
        var isAdminOrCustomer = '@ViewBag.isAdminOrCustomer';
        if (status == '4' && reclaim == 'False' && isAdminOrCustomer == 'True')
            $('#addReclaimLink').click();
        if (status == '3')
            $('#')
    });


    $(function () {
        //Initialize modal dialog
        //Attach modal-container
        $('document').on('ready', '.modal-link', function (e) {
            e.preventDefault();
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
            $('#modal-comment').modal('hide');
        });
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#modal-comment').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
