﻿@model IndexaWeb.Intranet.VisitHeader

@{
    ViewBag.Title = "IndexaWeb - Editar Visita";

}

<h2>Visita</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VisitHeaderId)
        @Html.Label((string)ViewBag.ErrorMessage, new { style = "color:Red" } )
        <div class="form-group">
            @Html.LabelFor(model => model.VisitHeaderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group date">
                @Html.DisplayFor(model => model.VisitHeaderId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group date">
                @Html.DropDownListFor(model => model.CustomerId, null, "[Seleccione una Opción]", htmlAttributes: new { @id = "m_customers", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group date">
                @Html.DropDownListFor(model => model.LocationId,
                             new SelectList(Enumerable.Empty<SelectListItem>(), "LocationId", "Description"), "[Seleccione una Opción]", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.VisitDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datepicker">
                        @Html.EditorFor(model => model.VisitDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.VisitDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="m_arrivalTime">
                        @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-time glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepatureTime, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="m_departureTime">
                        @Html.EditorFor(model => model.DepatureTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-time glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.DepatureTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("Agregar Actividad", "AddVisitDetail", "VisitHeaders", new { id = ViewBag.VisitHeaderId }, new { @class = "btn btn-default modal-link", title = "Agregar actividad", data_toggle = "modal", data_target = "#modal-container" })
        </div>
        <!-- createVisitDetailModal -->
        <div id="modal-container" class="modal fade" tabindex="-1" style="border:5px solid #FF8000" role="dialog">
            <div class="modal-dialog">
                <a href="#close" title="Cerrar" class="close modal-close-btn" type="button">X</a>
                <div class="modal-content" style="width:500px !important; margin:10px auto !important">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <h4>Actividades Realizadas</h4>            
            @Html.Partial("_IndexVisitDetails", Model.VisitDetail)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar Visita" onclick="return confirmForm();" class="btn btn-default " />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Volver al Listado", "Index")
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $('#datepicker').datetimepicker({
        format: "MM-DD-YYYY"
    });
    $('#m_arrivalTime,#m_departureTime').datetimepicker({
        format: 'HH:mm'
    });
    function confirmForm() {
        if (confirm("¿Seguro que desea confirmar esta visita, no se podrá modificar luego?")) {
            return true;
        }
        else {
            return false;
        }

    }
    $(function () {
        //Initialize modal dialog
        //Attach modal-container
        $('document').on('ready', '.modal-link', function (e) {
            e.preventDefault();
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
    });
    $(document).ready(function () {
        var customerId = $("#m_customers").val();
        var locationId = '@ViewBag.SelectedLocationId';
        $.ajax({
            type: "GET",
            url: "../GetLocationsByCustomerId/" + customerId,
            datatype: 'json',
            success: function (data) {
                $("#LocationId").html("");
                var markup = "";
                for (var x = 0; x < data.length; x++) {
                    if (data[x].LocationId == locationId)
                        markup += "<option value=" + data[x].LocationId + " selected>" + data[x].Description + "</option>";
                    else
                        markup += "<option value=" + data[x].LocationId + ">" + data[x].Description + "</option>";

                }
                $("#LocationId").html(markup);
            },
            error: function () { console.log("Errrr"); }
        });
        var visitDateYear = '@ViewBag.VisitDateYear';
        var visitDateMonth = '@ViewBag.VisitDateMonth';
        var visitDateDay = '@ViewBag.VisitDateDay';
        var visitDate = new Date(visitDateYear, visitDateMonth - 1, visitDateDay);
        $('#datepicker').data("DateTimePicker").date(moment(visitDate).format('YYYY-MM-DD'));
    });
    $("#m_customers").change(function () {
        var customerId = $(this).val();
        $.ajax({
            type: "GET",
            url: "../GetLocationsByCustomerId/" + customerId,
            datatype: 'json',
            success: function (data) {
                $("#LocationId").html("");
                var markup = "<option value='0'>Seleccione una opción</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].LocationId + ">" + data[x].Description + "</option>";
                }
                $("#LocationId").html(markup);
            },
            error: function () { console.log("Errrr"); }
        });
    })


</script>
}
