﻿@model IEnumerable<IndexaWeb.Intranet.VisitHeader>

@{
    ViewBag.Title = "Visitas - Indice";
}

<h2>Visitas</h2>

<p>
@if (User.IsInRole("Administrador") || User.IsInRole("Soporte"))
{
    @Html.ActionLink("Registrar nueva", "Create")
}
</p>

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Ingrese datos de la visita a buscar...">
</div>
<table class="table buscar">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VisitHeaderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepatureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusVisit.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="elements">
        <td>
            @Html.DisplayFor(modelItem => item.VisitHeaderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepatureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusVisit.Name)
        </td>
        <td>
            @if ((User.IsInRole("Administrador") || User.IsInRole("Soporte")) && item.StatusVisitId < 2)
            {
                <a href="@Url.Action("Edit", new { id = item.VisitHeaderId})" title="Editar">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Editar</span>
                </a>
            }
            @if ((User.IsInRole("Cliente") || User.IsInRole("Administrador")) && item.StatusVisitId != 3)
            {
                <a href="@Url.Action("ConfirmVisit", new { id = item.VisitHeaderId})" title="Confirmar Visita">
                    <i class="glyphicon glyphicon-check"></i>
                    <span class="sr-only">Confirmar Visita</span>
                </a>
            }
            <a href="@Url.Action("Details", new { id = item.VisitHeaderId})" title="Ver Detalles">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span class="sr-only">Ver Detalles</span>
            </a>

            @if (User.IsInRole("Administrador") && item.StatusVisitId != 3 && item.StatusVisitId != 4)
            {
                <a href="@Url.Action("Delete", new { id = item.VisitHeaderId})" title="Eliminar Visita">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Eliminar Visita</span>
                </a>
            }
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
            (function ($) {
                    $('#filtrar').keypress(function () {
                    var rex = new RegExp($(this).val(), 'i');
                        $('.buscar .elements').hide();
                        $('.buscar .elements').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
                }(jQuery));
            });
    </script>
}