﻿@model IEnumerable<IndexaWeb.Intranet.Activity>

@{
    ViewBag.Title = "IndexaWeb - Listado de Actividades";
}

<h2>Listado de Actividades</h2>

<p>
    @Html.ActionLink("Registrar nueva actividad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ActivityId})" title="Editar">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Editar</span>
                </a> |
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Delete", new { id = item.ActivityId })" title="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Eliminar</span>
                </a>
            }
        </td>
    </tr>
}

</table>
