﻿@model IEnumerable<IndexaWeb.Intranet.AspNetRoles>

@{
    ViewBag.Title = "Roles de Usuario";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Delete", new { userName = item.Id })" title="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Eliminar</span>
                </a>
            }
        </td>
    </tr>
}

</table>
