﻿@model IEnumerable<IndexaWeb.Intranet.Level>

@{
    ViewBag.Title = "IndexaWeb - Cargos";
}

<h2>Cargos</h2>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Edit", new { id = item.LevelId })" title="Editar">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Editar</span>
                </a>
            } |
            <a href="@Url.Action("Details", new { id = item.LevelId })" title="Detalles">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span class="sr-only">Detalles</span>
            </a>|
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Delete", new { id = item.LevelId })" title="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Eliminar</span>
                </a>
            }
        </td>
    </tr>
}

</table>
