﻿@model IndexaWeb.Intranet.Models.SpendingHistory

@{
    ViewBag.Title = "Detalles de la Referencia";
}

<h2>Detalles de la Referencia</h2>

<div>
    <hr />
    <b>@Html.DisplayNameFor(model => model.Projectheaders.Name):</b>
    @Html.DisplayFor(model => model.Projectheaders.Name)<br />

    <b>@Html.DisplayNameFor(model => model.Reference):</b>
    @Html.DisplayFor(model => model.Reference)<br />

    <b>@Html.DisplayNameFor(model => model.Cost):</b>
    @Html.DisplayFor(model => model.Cost)<br/><br/>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SpendingHistoryId, idp = ViewBag.idp, name = ViewBag.name }) |
    @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.idp, name = ViewBag.name })
</p>
