﻿@model IndexaWeb.Intranet.Models.SpendingHistory

@{
    ViewBag.Title = "Editar Referencia";
}

<h2>Editar Referencia</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
   <div class="form-horizontal">
       <h4>Referencia:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SpendingHistoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="ocultar">
            <div class="form-group">
                @Html.LabelFor(model => model.ProjectHeaderId, "ProjectHeaderId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ProjectHeaderId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectHeaderId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.idp, name = ViewBag.name })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ocultar").css("display", "none");
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
