﻿@model IEnumerable<IndexaWeb.Intranet.Models.SpendingHistory>

@{
    ViewBag.Title = "Costo del Proyecto";
}

<h2>Costo del Proyecto</h2>
<h4>Proyecto: @ViewBag.name</h4>

<p>
    @Html.ActionLink("Crear nueva referencia", "Create", new { idp = ViewBag.idp, name = ViewBag.name})
</p>

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Ingrese datos de la tarea a buscar...">
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SpendingHistoryId, idp = ViewBag.idp, name = ViewBag.name }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.SpendingHistoryId, idp = ViewBag.idp, name = ViewBag.name })
        </td>
    </tr>
    ViewBag.total = ViewBag.total+ item.Cost;
}
</table>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Costo Total:</label>
            <label>@Convert.ToDecimal(ViewBag.total) Bsf</label>
        </div>
    </div>
</div>


@Html.ActionLink("Regresar a la lista de proyectos", "Index", "ProjectHeaders")

<script type="text/javascript">
        $(document).ready(function () {
        (function ($) {
                $('#filtrar').keyup(function () {
                var rex = new RegExp($(this).val(), 'i');
                    $('.buscar .elements').hide();
                    $('.buscar .elements').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
            }(jQuery));
        });
</script>
