﻿@model IndexaWeb.Intranet.Location

@{
    ViewBag.Title = "Detalles de la Sucursal";
}

<h2>Detalles de la sucursal</h2>

<div>
    <h4>Sucursal</h4>
    <hr />
    <b>@Html.DisplayNameFor(model => model.CustomerId):  </b>
    @Html.DisplayFor(model => model.CustomerId)<br />

    <b>@Html.DisplayNameFor(model => model.CreatedBy):  </b>
    @Html.DisplayFor(model => model.CreatedBy)<br />

    <b>@Html.DisplayNameFor(model => model.CreatedDate):  </b>
    @Html.DisplayFor(model => model.CreatedDate)<br />

    <b>@Html.DisplayNameFor(model => model.ModifiedBy):  </b>
    @Html.DisplayFor(model => model.ModifiedBy)<br />

    <b>@Html.DisplayNameFor(model => model.ModifiedDate):  </b>
    @Html.DisplayFor(model => model.ModifiedDate)<br />
</div>

<br /><b>@Html.DisplayNameFor(model => model.Description):</b><br />
@Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "resize: none;", @readonly = "readonly" })<br />


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.LocationId, customerId = ViewBag.id, name = ViewBag.name }) |
    @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.id, name = ViewBag.name })
</p>