﻿@model IndexaWeb.Intranet.Location

@{
    ViewBag.Title = "Editar sucursal";
}

<h2>Editar datos de la sucursal</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sucursal:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LocationId)

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "resize: none;" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo no obligatorio", @readonly = "readonly" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo no obligatorio", @readonly = "readonly" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.customerId, name = ViewBag.name })
</div>

<script>
    $('#datetimepicker2').datetimepicker({
        format: "DD/MMM/YYYY hh:mm:ss",
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
