﻿@model IEnumerable<IndexaWeb.Intranet.Location>

@{
    ViewBag.Title = "Sucursales";
}

<h2>Sucursales</h2>
<h4>Cliente: @ViewBag.name</h4>

<p>
    @Html.ActionLink("Crear nueva sucursal", "Create", new { customerId = ViewBag.id, name = ViewBag.name })
</p>

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Ingrese datos de la sucursal a buscar...">
</div>

<table class="table buscar">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="elements">
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @if (User.IsInRole("Administrador"))
                {
                    <a href="@Url.Action("Edit", new { id = item.LocationId, customerId = ViewBag.id, name = ViewBag.name })" title="Editar">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Editar</span>
                    </a>
                } |
                <a href="@Url.Action("Details", new { id = item.LocationId, customerId = ViewBag.id, name = ViewBag.name })" title="Detalles">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    <span class="sr-only">Detalles</span>
                </a>|
                @if (User.IsInRole("Administrador"))
                {
                    <a href="@Url.Action("Delete", new { id = item.LocationId, customerId = ViewBag.id, name = ViewBag.name})" title="Eliminar">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span class="sr-only">Eliminar</span>
                    </a>
                }
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Regresar a la lista de clientes", "Index", "Customers")


<script type="text/javascript">
        $(document).ready(function () {
            (function ($) {
                $('#filtrar').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    $('.buscar .elements').hide();
                    $('.buscar .elements').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
            }(jQuery));
        });
</script>