﻿@model IndexaWeb.Intranet.Models.PurchaseHeaders

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseHeaders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
