﻿@model IndexaWeb.Intranet.Models.PurchaseHeaders

<div>
    <h4>PurchaseHeaders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>
    
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
