﻿<div ng-app="myApp" ng-controller="ajax">
    <h2>Compras</h2>

    <div class="input-group">
        <span class="input-group-addon">Buscar</span>
        <input type="text" ng-model="busqueda" class="form-control" placeholder="Buscar...">
    </div>
    <br />

    <div>
        <table class="table buscar">
            <tr>
                <th>
                    <strong>Seriales Asociados</strong>
                </th>
                <th>
                   <strong>RIF</strong>
                </th>
                <th>
                    <strong>Descripción</strong>
                </th>
                <th>
                    <strong>Factura</strong>
                </th>
                <th></th>
            </tr>
            <tr  ng-repeat="item in datos | filter:busqueda" ng-style="style" ng-controller="seriales" ng-init="obtener(item.Id)">
                <td>
                    {{cuenta}}
                </td>
                <td>
                    {{item.Code}}
                </td>
                <td>
                    {{item.Name}}
                </td>
                <td>
                    {{item.Invoice}}
                </td>
                <td>
                    <a data-ng-href="@Url.Action("PurchaseDetails", "PurchaseHeaders")/{{item.Id}}">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span class="sr-only">Detalles de Compra</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
        var app = angular.module('myApp', [])

        app.controller('ajax', function($scope, $http)
        {
            $http.post("PurchaseHeaders/DataPurchase").success(function(obj) {
                $scope.datos = obj;
            });
        });

        app.controller('seriales', function ($scope, $http) {
            $scope.obtener = function(id){
                $http.post("PurchaseHeaders/Cuenta/"+id).success(function (obj) {
                    $scope.cuenta = obj.products + "/" + obj.totalProducts;
                    if(obj.color == "Green")
                        $scope.style = { "background": "#FF6347" }
                    else
                        $scope.style = { "background": "#2E8B57" }
                });
            }
        });

</script>