﻿<div ng-app="myApp">
    <div ng-controller="ajax">
        <h2>Detalles de Compras</h2>
        <br/>
        <div class="form-group">
            <label class="col-xs-4">Rif:&nbsp;&nbsp;&nbsp;{{purchase.Code}}</label>
            <label class="col-xs-6">Descripción:&nbsp;&nbsp;&nbsp;{{purchase.Name}}</label>
        </div>
        <div class="form-group">
            <label class="col-xs-12">Nro. Factura:&nbsp;&nbsp;&nbsp;{{purchase.Invoice}}</label>
        </div>
        <hr/>
        <br/><br />
        <div class="form-group">
           <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">Buscar</span>
                    <input type="text" ng-model="busqueda" class="form-control" placeholder="Buscar...">
                </div>
           </div>
           <div  class="col-xs-4">
                <input type="button" value="Guardar Cambios" class="btn btn-primary" ng-click="click()" ng-disabled="disable">
           </div>
        </div>
        <br/><br />
        <table class="table">
            <tr>
                <th>
                    <strong>Producto</strong>
                </th>
                <th>
                    <strong>Serial</strong>
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="item in products | filter:busqueda" ng-init="serial='{{item.Serial}}'">
                <td ng-show="id">
                   {{item.Id}}
                </td>
                <td>
                   {{item.Description}}
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Serial..." ng-model="serial" ng-change="Guardar(item.Id,serial)">
                </td>
            </tr>
        </table>
        <a data-ng-href="@Url.Action("Index", "PurchaseHeaders")">Volver a la lista de compras</a>
    </div>
</div>
<script type="text/javascript">
        var app = angular.module('myApp', [])
                   .run(function ($rootScope) {
                       $rootScope.id = false;
                       $rootScope.disable = true;
                   });

        app.controller('ajax', function($scope, $http)
        {
            $scope.seriales = new Array();
            $http.post("PurchaseHeaders/DataPurchaseId/"+@ViewBag.id).success(function(obj) {
                $scope.purchase = obj.header;
                $scope.products = obj.product;

            });

            $scope.Guardar = function(id,serial)
            {
                $scope.seriales[id] = serial+" "+id;
                $scope.disable = false;
            }

            $scope.click = function()
            {
                $http.post("PurchaseHeaders/ObtenerData",{
                    seriales: $scope.seriales
                }).success(function(obj){
                    $scope.disable = obj;
                });
                
            }
        });
</script>
