﻿@model IndexaWeb.Intranet.Models.ProjectTask

@{
    ViewBag.Title = "Crear Tarea";
}

<h2>Crear Tarea</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tarea:</h4>
        <hr />

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.TaskName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
            </div>
        </div>-->

        <!--<div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.EstimatedEnding, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datetimepicker2">
                        @Html.EditorFor(model => model.EstimatedEnding, new { htmlAttributes = new { @class = "form-control"} })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.EstimatedEnding, "", new { @class = "text-danger" })
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.TaskObservation, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.TextAreaFor(model => model.TaskObservation, new { @class = "form-control", @style = "resize: none;" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.TaskObservation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.id, name = ViewBag.name })
</div>

<script type="text/javascript">
    $(document).ready(function(){
         $('#datetimepicker1').datetimepicker({
            format: "YYYY-MM-DD",
        });
        $('#datetimepicker2').datetimepicker({
            format: "YYYY-MM-DD",
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
