﻿@model IndexaWeb.Intranet.Models.ProjectTask

@{
    ViewBag.Title = "Detalles de la tarea";
}

<h2>Detalles de la tarea</h2>

<div>
    <hr />
    <b>@Html.DisplayNameFor(model => model.StatusTaskId): </b>
     @ViewBag.statusName<br />

    <b>@Html.DisplayNameFor(model => model.TaskName): </b>
    @Html.DisplayFor(model => model.TaskName)<br />

    <b>@Html.DisplayNameFor(model => model.AssignedToUser): </b>
    @Html.DisplayFor(model => model.AssignedToUser)<br />

    <b>@Html.DisplayNameFor(model => model.PublicationDate): </b>
    @Html.DisplayFor(model => model.PublicationDate)<br />

    <b>@Html.DisplayNameFor(model => model.StartingDate): </b>
    @Html.DisplayFor(model => model.StartingDate)<br />

    <b>@Html.DisplayNameFor(model => model.EstimatedEnding): </b>
    @Html.DisplayFor(model => model.EstimatedEnding)<br />

    <b>@Html.DisplayNameFor(model => model.EndDate): </b>
    @Html.DisplayFor(model => model.EndDate)<br />

    <b>@Html.DisplayNameFor(model => model.Hours): </b>
    @Html.DisplayFor(model => model.Hours)<br />
</div>

<br /><b>@Html.DisplayNameFor(model => model.TaskObservation)</b><br />
@Html.TextAreaFor(model => model.TaskObservation, new { @class = "form-control", @style = "resize: none;", @readonly = "readonly" })<br />

<p>
   @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.idp, name = ViewBag.name })
</p>