﻿@model IndexaWeb.Intranet.Models.ProjectTask

@{
    ViewBag.Title = "Editar tarea";
}

<h2>Editar tarea</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProjectTaskID)

        <div id="ocultar">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StatusTaskId, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="input-group date">
                            @Html.EditorFor(model => model.StatusTaskId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            <span class="input-group-addon"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2"><b></b></p>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.StatusTaskId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectHeaderId, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="input-group date">
                            @Html.EditorFor(model => model.ProjectHeaderId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            <span class="input-group-addon"></span>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="form-group">
                <p class="control-label col-md-2"><b></b></p>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.ProjectHeaderId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.TaskName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.AssignedToUser, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.AssignedToUser, new { htmlAttributes = new { @class = "form-control"} })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.AssignedToUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.PublicationDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.PublicationDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio", @readonly = "readonly" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.PublicationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control"} })
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

         <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.EstimatedEnding, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datetimepicker2">
                        @Html.EditorFor(model => model.EstimatedEnding, new { htmlAttributes = new { @class = "form-control"} })
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.EstimatedEnding, "", new { @class = "text-danger" })
            </div>
        </div>-->
        
        <div id="ocultar2">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="input-group date">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            <span class="input-group-addon">
                                <span class="glyphicon-calendar glyphicon"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2"><b></b></p>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.TaskObservation, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.TextAreaFor(model => model.TaskObservation, new { @class = "form-control" })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.TaskObservation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index", new { id = ViewBag.idp, name = ViewBag.name })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ocultar").css("display", "none");
        $("#ocultar2").css("display", "none");
        var date = new Date();
        var mifecha = new Date(date.getFullYear,date.getMonth+1,date.getDate()+1);
        $('#datetimepicker1,#datetimepicker2').datetimepicker({
            format: "DD/MM/YYYY",
            minDate: new Date()
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
