﻿@model IEnumerable<IndexaWeb.Intranet.Models.ProjectTask>

@{
    ViewBag.Title = "Tareas del proyecto";
}

<h2>Tareas del proyecto</h2>
<h4>Proyecto: @ViewBag.name</h4>

<p>
    @Html.ActionLink("Crear nueva tarea", "Create", new { id = ViewBag.id, name = ViewBag.name })
</p>

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Ingrese datos de la tarea a buscar...">
</div>

<table class="table buscar">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTaskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusTaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedEnding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        switch (item.StatusTaskId)
        {
            case 1:
                <tr class="elements">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTaskID)
                    </td>
                    <td>
                        @ViewBag.ListNames[ViewBag.indice].EstatusName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedEnding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name, statusname = ViewBag.ListNames[ViewBag.indice].EstatusName}) |
                        <div class='btn-group'>
                            <button class='btn btn-info'>Estatus</button>
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Nueva", "StatusTasks/Update", new { idt = ViewBag.id, id = item.ProjectTaskID, name = ViewBag.name, statusId = 1 })</li>
                                <li>@Html.ActionLink("Iniciar", "Edit", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name })</li>
                                <li>@Html.ActionLink("Finalizada", "Index", new { idp = ViewBag.id, name = ViewBag.name })</li>
                                <li>@Html.ActionLink("Anulado", "StatusTasks/Update", new { idt = ViewBag.id, id = item.ProjectTaskID, name = ViewBag.name, statusId = 4 })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                break;

            case 2:
                <tr class="elements" style="background:#2E8B57;">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTaskID)
                    </td>
                    <td>
                        @ViewBag.ListNames[ViewBag.indice].EstatusName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedEnding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name, statusname = ViewBag.ListNames[ViewBag.indice].EstatusName }) |
                        <div class='btn-group'>
                            <button class='btn btn-info'>Estatus</button>
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Nueva", "Index", new { idp = ViewBag.id, name = ViewBag.name })</li>
                                <li>@Html.ActionLink("Iniciado", "Index", new { idp = ViewBag.id, name = ViewBag.name })</li>
                                <li>@Html.ActionLink("Finalizado", "StatusTasks/Update", new { idt = ViewBag.id, id = item.ProjectTaskID, name = ViewBag.name, statusId = 3 })</li>
                                <li>@Html.ActionLink("Anulado", "StatusTasks/Update", new { idt = ViewBag.id, id = item.ProjectTaskID, name = ViewBag.name, statusId = 4 })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                break;

            case 3:
                <tr class="elements" style="background:#20B2AA;">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTaskID)
                    </td>
                    <td>
                        @ViewBag.ListNames[ViewBag.indice].EstatusName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedEnding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditFinalizado", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name }) |
                        @Html.ActionLink("Detalles", "DetailsAnulado", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name, statusname = ViewBag.ListNames[ViewBag.indice].EstatusName }) |
                        <div class='btn-group'>
                            <button class='btn btn-info'>Estatus</button>
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Nueva", "Index", new { idp = ViewBag.id, name = ViewBag.name })</li>
                                <li>@Html.ActionLink("Iniciado", "Index", new { idp = ViewBag.id, name = ViewBag.name, })</li>
                                <li>@Html.ActionLink("Finalizado", "Index", new { idp = ViewBag.id, name = ViewBag.name })</li>
                                <li>@Html.ActionLink("Anulado", "Index", new { idp = ViewBag.id, name = ViewBag.name })</li>
                            </ul>

                        </div>
                    </td>
                </tr>
                break;

            case 4:
                <tr class="elements"  style="background:#FF6347;">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTaskID)
                    </td>
                    <td>
                        @ViewBag.ListNames[ViewBag.indice].EstatusName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedEnding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Index", new { idp = ViewBag.id, name = ViewBag.name }) |
                        @Html.ActionLink("Detalles", "DetailsAnulado", new { id = item.ProjectTaskID, idp = ViewBag.id, name = ViewBag.name, statusname = ViewBag.ListNames[ViewBag.indice].EstatusName }) |
                        <div class='btn-group'>
                            <button class='btn btn-info'>Estatus</button>
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Nueva", "Index", new {  idp = ViewBag.id, name = ViewBag.name})</li>
                                <li>@Html.ActionLink("Iniciado", "Index", new { idp = ViewBag.id, name = ViewBag.name,})</li>
                                <li>@Html.ActionLink("Finalizado", "Index", new { idp = ViewBag.id, name = ViewBag.name})</li>
                                <li>@Html.ActionLink("Anulado", "Index", new { idp = ViewBag.id, name = ViewBag.name})</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                break;
        }
        ViewBag.indice++;
    }
</table>

@Html.ActionLink("Regresar a la lista de proyectos", "Index", "ProjectHeaders")

<script type="text/javascript">
        $(document).ready(function () {
        (function ($) {
                $('#filtrar').keyup(function () {
                var rex = new RegExp($(this).val(), 'i');
                    $('.buscar .elements').hide();
                    $('.buscar .elements').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
            }(jQuery));
        });
</script>