﻿<style type="text/css">
    .color {
        color: white;
    }
</style>

<body ng-app="Index" ng-controller="Functions">
    <form method="POST" action="receipt/Generar">
        <h2>Recibos</h2>
        <div>
            <br />
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label">Desde:</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" ng-model="desdevalue" ng-change="fdesde()" name="desde"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Hasta:</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" ng-model="hastavalue" ng-change="fhasta()" name="hasta"/>
                </div>
            </div>
            <div ng-show="showusername">
                <div class="form-group">
                    <label class="col-md-2 control-label">Hasta:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" value="@ViewBag.Ci" name="ci" />
                    </div>
                </div>
            </div>
            <br /><br /><br /><br />
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="Click()" ng-show="showsubmit">Generar Recibos</button>
        </div>
    </form>
</body>
<script type="text/javascript">
    var app = angular.module('Index', [])
            .run(function ($rootScope) {
                $rootScope.showsubmit = false;
                $rootScope.showusername = false;
            })
            .controller('Functions', function ($scope, $interval) {
                $scope.fdesde = function () {
                    if ($scope.desdevalue != '')
                        $scope.bandesde = true;
                    else
                        $scope.bandesde = false;
                };

                $scope.fhasta = function () {
                    if ($scope.hastavalue != '')
                        $scope.banhasta = true;
                    else
                        $scope.banhasta = false;
                };

                $interval(function () {
                    if ($scope.bandesde && $scope.banhasta)
                        $scope.showsubmit = true;
                    else
                        $scope.showsubmit = false;
                }, 10);
            });
</script>
