﻿
<body @*ng-app="Receipt"*@>
    <div>
        <h2>Recibos</h2>
        <br />
        <button type="button" class="btn btn-primary col-md-1">Atras</button>
        <br /><br /><br />
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Desde:</label>
            <div class="col-md-4">
                <input type="date" class="form-control" data-ng-model="desde" @*ng-change="fdesde()"*@/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Hasta:</label>
            <div class="col-md-4">
                <input type="date" class="form-control" data-ng-model="hasta" @*ng-change="fhasta()"*@/>
            </div>
        </div>
        @*{{hola}}*@
        <br/><br /><br /><br />
        <button type="button" class="btn btn-primary btn-lg btn-block" @*ng-click="Click2()"*@>Recibos de pago</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Recibos de pago</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Recibos de pago</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Recibos de pago</button>
    </div>
</body>
@*<script type="text/javascript">
    var app = angular.module('Receipt', [])
            .run(function ($rootScope) {
                $rootScope.hola = "hola";
            });
</script>*@