﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui") 
    @Scripts.Render("~/bundles/angular") 
    <script src="~/Scripts/minErr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/d004434a5ff76e7b97c8b07c01f34ca69e635d97/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#details" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Indexa Web 1.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="details">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrador") || User.IsInRole("Cliente") || User.IsInRole("Supervisor Soporte") || User.IsInRole("Soporte")))
                    { 
                    <li>@Html.ActionLink("Visitas", "Index", "VisitHeaders", new { area = "" }, null)</li>
                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrador") || User.IsInRole("Cliente") || User.IsInRole("Supervisor Desarrollo") || User.IsInRole("Desarrollador")))
                    {
                        <li>@Html.ActionLink("Proyectos", "Index", "ProjectHeaders", new { area = "" }, null)</li>
                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrador") || User.IsInRole("Supervisor Soporte") || User.IsInRole("Soporte") || User.IsInRole("Supervisor Desarrollo") || User.IsInRole("Desarrollador")))
                    {
                        <li>@Html.ActionLink("Recibos de Pago", "Index", "Receipt", new { userName = User.Identity.GetUserName()}, null)</li>
                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrador")))
                    {
                    <li> @Html.ActionLink("RMA", "Index", "PurchaseHeaders", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-submenu="">Maestros<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu"><a tabindex="0">Clientes</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Clientes", "Index", "Customers", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Representantes", "Index", "Representatives", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Empleados","Index","Employees", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Actividades","Index", "Activities", new { area = "" },null)</li>
                            <li>@Html.ActionLink("Cargos", "Index", "Levels", new { area = "" }, null)</li>
                            <li class="dropdown-submenu"><a tabindex="0">Seguridad</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Usuarios", "Index", "Account", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Roles", "Index", "Role", new { area = "" }, null)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
                
            <div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid body-content" style="height:100%;">
        @RenderBody()
        <div  id="logoindexa" >
        <hr />
        <br />
        <footer class="panel-footer" >
            <p>&copy; @DateTime.Now.Year - <img src="~/Content/images/logo.jpg"/></p>
        </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('[data-submenu]').submenupicker();
    </script>
</body>
</html>
