﻿@model Customer

@{
    ViewBag.Title = "Crear cliente";
}

<h2>Crear cliente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Rif, htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.Rif, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Rif, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Campo obligatorio" } })
                </div>
            </div>
        </div>


        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

<script>
    $('#datetimepicker1').datetimepicker({
        format: "DD/MMM/YYYY hh:mm:ss",
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
