﻿@model Customer

@{
    ViewBag.Title = "Editar";
}

<h2>Editar cliente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cliente:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Rif, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.Rif, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Rif, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly"} })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ModifiedBy, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date">
                        @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ModifiedDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<script>
    $('#datetimepicker1').datetimepicker({
        format: "DD/MMM/YYYY hh:mm:ss",
    });
</script>

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
