﻿@model IEnumerable<IndexaWeb.Intranet.Customer>

@{
    ViewBag.Title = "Clientes - Listado";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear nuevo cliente", "Create")
</p>
<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Buscar Cliente...">
</div>
<table class="table buscar">
    <tr>
        <th>
            <p><b>RIF</b></p>
        </th>
        <th>
            <p><b>Nombre</b></p>
        </th>
        <th>
            <p><b>Alias</b></p>
        </th>
        <th>
            <p><b>Creado por</b></p>
        </th>
        <th>
            <p><b>Fecha de creacion</b></p>
        </th>
        <th>
            <p><b>Modificado por</b></p>
        </th>
        <th>
            <p><b>Fecha de modificacion</b></p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="elements">
        <td>
            @Html.DisplayFor(modelItem => item.Rif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Edit", new { id = item.CustomerId})" title="Editar">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Editar</span>
                </a>
            } |
            <a href="@Url.Action("Details", new { id = item.CustomerId})" title="Detalles">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span class="sr-only">Detalles</span>
            </a>|
            @if (User.IsInRole("Administrador"))
            {
                <a href="@Url.Action("Delete", new { id = item.CustomerId})" title="Eliminar">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Eliminar</span>
                </a>
            } |
            @Html.ActionLink("Sucursales", "Index", "Locations", new { id=item.CustomerId,name=item.Name }, null) |
            @Html.ActionLink("Representantes", "Index", "Representatives", new { customerId = item.CustomerId }, null)
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
            (function ($) {
                    $('#filtrar').keypress(function () {
                    var rex = new RegExp($(this).val(), 'i');
                        $('.buscar .elements').hide();
                        $('.buscar .elements').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
                }(jQuery));
            });
    </script>
}


