﻿@model IndexaWeb.Intranet.Employee

@{
    ViewBag.Title = "Empleados - Editar";
}
<h2>Empleado @Html.DisplayFor(model => model.EmployeeName)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonId)
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="form-group">
            @Html.Label("Cargos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var item in Model.EmployeeLevels)
                {
                    foreach (var selected in Model.SelectedLevels)
                    {
                        if (item.Value == selected.ToString())
                        {
                            item.Selected = true;
                            break;
                        }
                    }
                    <label>
                        <input value="@item.Value" name="SelectedLevels" type='checkbox' checked="@item.Selected" class="checkbox-inline" />
                        <span class='lbl padding-4'>@item.Text </span>
                    </label>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupervisorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SupervisorId, Model.Supervisors,"[Ninguno]", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SupervisorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
