﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

@if (User.IsInRole("Administrador"))
{
    @Html.ActionLink("Registrar nuevo Empleado", "Register", "Account")
}

<div class="input-group">
    <span class="input-group-addon">Buscar</span>
    <input id="filtrar" type="text" class="form-control" placeholder="Buscar Empleado...">
</div>
<table class="table buscar">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Nombre de Usuario")
        </th>
        <th>
            @Html.DisplayName("Supervisor")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="elements">
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.EmployeeId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
            (function ($) {
                    $('#filtrar').keypress(function () {
                    var rex = new RegExp($(this).val(), 'i');
                        $('.buscar .elements').hide();
                        $('.buscar .elements').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
                }(jQuery));
            });
    </script>
}


